{{ $packageManagerChoices := list "brew" "dnf" "apt" "none" "pacman" -}}
{{ $packageManager := promptChoiceOnce . "packageManager" "Which package manager would you like to use?" $packageManagerChoices -}}

[git]
  autoCommit = true
  autoPush = true
[data]
  packageManager = {{- $packageManager | quote -}}
