#! /bin/bash

{{ if eq .packageManager "brew" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .packageManager "pacman" -}}
sudo pacman -S - <<EOF
{{ range .packages.linux.pacman -}}
{{ . }}
{{ end -}}
EOF
{{ end -}}
