{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Disable media keys opening iTunes
launchctl unload -w /System/Library/LaunchAgents/com.apple.rcd.plist

# Set screenshot location to ~/Pictures/Screenshots
mkdir -p ~/Pictures/Screenshots
defaults write com.apple.screencapture location ~/Pictures/Screenshots/

# Enable safari develop menu
defaults write com.apple.safari IncludeDevelopMenu -bool true

# disable hot corners
defaults write com.apple.dock wvous-tl-corner -int 0
defaults write com.apple.dock wvous-tr-corner -int 0
defaults write com.apple.dock wvous-bl-corner -int 0
defaults write com.apple.dock wvous-br-corner -int 0

# autohide dock
defaults write com.apple.dock autohide 1

EOF
{{ end -}}
